PORT=3100
BD_NAME=bienesraices_node_mvc
BD_USER=root
BD_PASSWORD=
BD_HOST=localhost

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=8c9fc090ad89fb
EMAIL_PASS=87b90dfa6d9ab4

BACKEND_URL=http://localhost

JWT_SECRET=palabrasupersercetaaaaaaaaaaaaa