extends ./layout/app

block contenido
  div(class="simulacion container")
    // Formulario de simulación
    section(class="form-section")
      h2 Simulación de Crédito Hipotecario
      form#simulationForm(action="/simulacion-credito-hipotecario" method="post")
        label(for="propiedad") Propiedad
        select#propiedad(name="propiedad" onchange="mostrarPrecio()")
          option(value="") - Seleccione -
          each propiedad in propiedades
            option(value=propiedad.id data-precio=propiedad.precio selected= datos.propiedad ? datos.propiedad == propiedad.id ? true : false : null )= propiedad.titulo

        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="montoInmueble") Monto del Inmueble
        input#montoInmueble(type="number" name="montoInmueble" readonly)

        label(for="cuotaInicialPorcentaje") Porcentaje de cuota inicial (%):
        input#cuotaInicialPorcentaje(type="number" min="0" max="100" step="0.01" required name="cuotaInicialPorcentaje")

        label(for="TEA") Tasa Efectiva Anual (TEA) (%):
        input#TEA(type="number" min="0" step="0.001" required name="TEA")

        label(for="plazoAnios") Plazo (años):
        input#plazoAnios(type="number" min="1" required name="plazoAnios")

        input(type="submit" value="Guardar")
        input(type="button" value="Imprimir" onclick="imprimirCronograma()")

    // Resultados
    section(class="results-section")
      h2 Resultados de Simulación en línea
      p Total inicial inmueble: <span id="cuotaInicial">-</span>
      p Total monto capital: <span id="montoCapital">-</span>
      p Tasa Efectiva Mensual (TEM): <span id="TEM">-</span>
      p Pago mensual: <span id="pagoMensual">-</span>
      p Cronograma de Pagos:
      table(id="tablaCronograma")


  script(src="/js/simulacion.js")