doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ubiko | #{pagina}
        block styles
        link(rel="stylesheet", href="/css/app.css")
        link(rel="shortcut icon", href="/img/logobr.ico", type="image/x-icon")
        link(rel='stylesheet', href='/css/all.min.css')
    body.min-h-screen.bg-gray-50
        
        include includes/header-admin 
        
        main(class="mx-auto container p-15")
            block contenido
            
        block scripts
        
    footer
        block pie