doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ubiko | #{pagina}
        block styles
        link(rel="stylesheet", href="/css/simulador_credito.css")
        link(rel="stylesheet", href="/css/app.css")
        <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
        link(rel="shortcut icon", href="/img/header-icon.png", type="image/x-icon")
    body.min-h-screen.bg-gray-50
        
        include includes/header-app
        
        main(class="mx-auto container p-15")
        
            block contenido
        
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
        <script src="node_modules/flowbite/dist/flowbite.min.js"></script>
        block scripts
        
        
    footer
        block pie