doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ubiko | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
        link(rel="shortcut icon", href="/img/logobr.ico", type="image/x-icon")
        script(src="https://www.google.com/recaptcha/api.js" async defer)
        block styles
    body.min-h-screen.bg-gray-50
        
        main(class="mx-auto container p-15")
            block contenido
            
        block scripts
        
    footer
        block pie